<!-- 1. jQuery 먼저 로드 (버전은 마음대로 골라도 OK) -->
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha384-QgH/JzO3w7oyvejO98Q/1N1lU/hadR4Z+86MwmF0+EeBmrSqK5uiVkKLj1QK/JwX"
  crossorigin="anonymous"></script>

<!-- 2. Popper.js -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>

<!-- 3. Bootstrap JS -->
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>

<!-- 4. site-specific JS -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
